
Backend/.vs/LongArithmeticBackend/FileContentIndex/673c7797-17b9-4cee-89aa-c1b9c90193ae.vsidx
Backend/API/obj/API.csproj.nuget.dgspec.json
Backend/API/obj/API.csproj.nuget.g.props
Backend/API/obj/API.csproj.nuget.g.targets
Backend/API/obj/Debug/net8.0/API.AssemblyInfo.cs
Backend/API/obj/Debug/net8.0/API.AssemblyInfoInputs.cache
Backend/API/obj/Debug/net8.0/API.assets.cache
Backend/API/obj/Debug/net8.0/API.csproj.AssemblyReference.cache
Backend/API/obj/Debug/net8.0/API.GeneratedMSBuildEditorConfig.editorconfig
Backend/API/obj/project.assets.json
Backend/API/obj/project.nuget.cache
