
Backend/API/obj/project.nuget.cache
Backend/API/obj/project.assets.json
Backend/API/obj/Debug/net8.0/API.GeneratedMSBuildEditorConfig.editorconfig
Backend/API/obj/Debug/net8.0/API.csproj.AssemblyReference.cache
Backend/API/obj/Debug/net8.0/API.assets.cache
Backend/API/obj/Debug/net8.0/API.AssemblyInfoInputs.cache
Backend/API/obj/Debug/net8.0/API.AssemblyInfo.cs
Backend/API/obj/API.csproj.nuget.g.targets
Backend/API/obj/API.csproj.nuget.g.props
Backend/API/obj/API.csproj.nuget.dgspec.json
Backend/API/API.csproj.user
Backend/.vs/LongArithmeticBackend/v17/.suo
Backend/.vs/LongArithmeticBackend/FileContentIndex/634fb111-981e-4469-bea2-157cb74c35d2.vsidx
Backend/.vs/LongArithmeticBackend/DesignTimeBuild/.dtbcache.v2
